<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="spoolpath" value="c:\spool\"/>
        <add key="smtp" value="192.168.1.1"/>
        <add key="origdomain" value="mydomain.com"/>
        <add key="delfiles" value="true"/>
        <add key="debug" value="true"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>
